div
{
    border-radius: 5px;
}
.header
{
    position: fixed;
    z-index: 2;
    height:40px;
    width: 98%;
    background-color: #668284;
    margin-bottom: 10px
}

#name {
    float:left;
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}
#email
{
    float:right;
    margin-right: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}
#email > a{
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}
a:hover {
    font-weight: bold;
}

.right
{
    padding-top: 30px;
}
h3
{
    text-decoration: underline;
    width: 99%;
    background-color: #E3EDD8;
}
#job-responsibilities
{
    padding: 1px;
}
.job-title
{
    font-weight: bold;
}
table
{
    border: 1px solid black;
}
td
{
    padding: 2px;
    border: 1px dashed #E88741;
}
#company-name
{
    height:2px;
    text-decoration:underline;
}
#job-title
{
    height: 5px;
}
#heading
{
    font-weight:bold;
}
span{
    font-weight: bold;
}
#footer
{
    height:40px;
    clear:both;
    color: white;
    position: relative;
    background-color: #668284;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}
#devel
{
    padding-top: 10px;
    text-align: left;
    margin-left: 15px;
}
#linkedinlink
{
    float: right;
    margin-right: 15px;
    margin-top: -22px;
}

/* Index page styling */
.container
{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
form>input
{
    margin: 6px;
    padding: 3px 10px;
    font-size: 14px;
}
form > button
{
    margin: 6px;
    padding: 7px 12px;
    font-size: 14px;
    border: 0px;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
}